@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}
input[type="date"]::before {
  content: attr(placeholder);
  /* position: absolute; */
  color: #999999;
  
}

input[type="date"] {
  color: #ffffff;
  
}

input[type="date"]:focus,
input[type="date"]:valid {
  color: #666666;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "Date of Birth: ";
}
